<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>last-analytics-stamp</key>
		<array>
			<real>761757119.12863696</real>
		</array>
		<key>lastShowIndicatorTime</key>
		<real>759924178.98253906</real>
		<key>loc</key>
		<string>en_US:(null)</string>
		<key>minimize-to-application</key>
		<true/>
		<key>mod-count</key>
		<integer>200</integer>
		<key>persistent-apps</key>
		<array>
			<dict>
				<key>GUID</key>
				<integer>927681186</integer>
				<key>tile-data</key>
				<dict>
					<key>book</key>
					<data>
				Ym9vazQCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAVAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABHb29nbGUg
				Q2hyb21lLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAA
				BAMAAAo5AAAAAAAACAAAAAQDAAAixAIAAAAAAAgAAAAB
				BgAAUAAAAGAAAAAIAAAAAAQAAEHGY44/gAAAGAAAAAEC
				AAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkA
				AGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
				BAMAAAAAhxE5AAAACAAAAAAEAABBxnee2oAAACQAAAAB
				AQAANzZCNzc5Q0QtQzkxNi00MUJELUJGRkMtQjcxRUU2
				Qjg3NzIyGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
				AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+////
				AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAA
				AAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEAB
				AAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAA
				APQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAA
				ICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAA
				AAAA
					</data>
					<key>bundle-identifier</key>
					<string>com.google.Chrome</string>
					<key>dock-extra</key>
					<false/>
					<key>file-data</key>
					<dict>
						<key>_CFURLString</key>
						<string>file:///Applications/Google%20Chrome.app/</string>
						<key>_CFURLStringType</key>
						<integer>15</integer>
					</dict>
					<key>file-label</key>
					<string>Google Chrome</string>
					<key>file-mod-date</key>
					<integer>3812398463</integer>
					<key>file-type</key>
					<integer>41</integer>
					<key>is-beta</key>
					<false/>
					<key>parent-mod-date</key>
					<integer>159819553116165</integer>
				</dict>
				<key>tile-type</key>
				<string>file-tile</string>
			</dict>
			<dict>
				<key>GUID</key>
				<integer>927681161</integer>
				<key>tile-data</key>
				<dict>
					<key>book</key>
					<data>
				Ym9va0ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAYAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwgAAAABAQAATWFpbC5hcHAMAAAAAQYAABAAAAAgAAAA
				NAAAAAgAAAAEAwAAFwAAAP///w8IAAAABAMAABkAAAD/
				//8PCAAAAAQDAABGGgAA////DwwAAAABBgAAWAAAAGgA
				AAB4AAAACAAAAAAEAABBxnee2oAAABgAAAABAgAAAgAA
				AAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxl
				Oi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAA
				AIcROQAAACQAAAABAQAANzZCNzc5Q0QtQzkxNi00MUJE
				LUJGRkMtQjcxRUU2Qjg3NzIyGAAAAAECAACBAAAAAQAA
				AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAA
				AQUAAKgAAAD+////AQAAAAAAAAANAAAABBAAAEQAAAAA
				AAAABRAAAIgAAAAAAAAAEBAAAKwAAAAAAAAAQBAAAJwA
				AAAAAAAAAiAAAEwBAAAAAAAABSAAAMwAAAAAAAAAECAA
				ANwAAAAAAAAAESAAAAABAAAAAAAAEiAAAPAAAAAAAAAA
				EyAAAJwAAAAAAAAAICAAACwBAAAAAAAAMCAAAFgBAAAA
				AAAAENAAAAQAAAAAAAAA
					</data>
					<key>bundle-identifier</key>
					<string>com.apple.mail</string>
					<key>dock-extra</key>
					<false/>
					<key>file-data</key>
					<dict>
						<key>_CFURLString</key>
						<string>file:///System/Applications/Mail.app/</string>
						<key>_CFURLStringType</key>
						<integer>15</integer>
					</dict>
					<key>file-label</key>
					<string>Mail</string>
					<key>file-mod-date</key>
					<integer>3815028405</integer>
					<key>file-type</key>
					<integer>41</integer>
					<key>is-beta</key>
					<false/>
					<key>parent-mod-date</key>
					<integer>3815028405</integer>
				</dict>
				<key>tile-type</key>
				<string>file-tile</string>
			</dict>
			<dict>
				<key>GUID</key>
				<integer>927681163</integer>
				<key>tile-data</key>
				<dict>
					<key>book</key>
					<data> Ym9va0QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAAZAEAAAQAAAADAwAAAAAAIAYA AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u cwoAAAABAQAAUGhvdG9zLmFwcAAADAAAAAEGAAAQAAAA IAAAADQAAAAIAAAABAMAABcAAAD///8PCAAAAAQDAAAZ AAAA////DwgAAAAEAwAAYzgAAP///w8MAAAAAQYAAFwA AABsAAAAfAAAAAgAAAAABAAAQcZ3ntqAAAAYAAAAAQIA AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE AwAAAACHETkAAAAkAAAAAQEAADc2Qjc3OUNELUM5MTYt NDFCRC1CRkZDLUI3MUVFNkI4NzcyMhgAAAABAgAAgQAA AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABI AAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQ AACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAA ABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAA AAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABc AQAAAAAAABDQAAAEAAAAAAAAAA==
					</data>
					<key>bundle-identifier</key>
					<string>com.apple.Photos</string>
					<key>dock-extra</key>
					<false/>
					<key>file-data</key>
					<dict>
						<key>_CFURLString</key>
						<string>file:///System/Applications/Photos.app/</string>
						<key>_CFURLStringType</key>
						<integer>15</integer>
					</dict>
					<key>file-label</key>
					<string>Photos</string>
					<key>file-mod-date</key>
					<integer>3815028405</integer>
					<key>file-type</key>
					<integer>41</integer>
					<key>is-beta</key>
					<false/>
					<key>parent-mod-date</key>
					<integer>3815028405</integer>
				</dict>
				<key>tile-type</key>
				<string>file-tile</string>
			</dict>
			<dict>
				<key>GUID</key>
				<integer>3971914150</integer>
				<key>tile-data</key>
				<dict>
					<key>book</key>
					<data> Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA AAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABTbGFjay5h cHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAAKOQAA AAAAAAgAAAAEAwAA5vYLAAAAAAAIAAAAAQYAAEgAAABY AAAACAAAAAAEAABBxoD3hgAAABgAAAABAgAAAgAAAAAA AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAAIcR OQAAAAgAAAAABAAAQcZ3ntqAAAAkAAAAAQEAADc2Qjc3 OUNELUM5MTYtNDFCRC1CRkZDLUI3MUVFNkI4NzcyMhgA AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
					</data>
					<key>bundle-identifier</key>
					<string>com.tinyspeck.slackmacgap</string>
					<key>dock-extra</key>
					<false/>
					<key>file-data</key>
					<dict>
						<key>_CFURLString</key>
						<string>file:///Applications/Slack.app/</string>
						<key>_CFURLStringType</key>
						<integer>15</integer>
					</dict>
					<key>file-label</key>
					<string>Slack</string>
					<key>file-mod-date</key>
					<integer>3816253452</integer>
					<key>file-type</key>
					<integer>41</integer>
					<key>is-beta</key>
					<false/>
					<key>parent-mod-date</key>
					<integer>189184243641682</integer>
				</dict>
				<key>tile-type</key>
				<string>file-tile</string>
			</dict>
			<dict>
				<key>GUID</key>
				<integer>3971914151</integer>
				<key>tile-data</key>
				<dict>
					<key>book</key>
					<data> Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA AAABAQAAQXBwbGljYXRpb25zCgAAAAEBAABab3Rlcm8u YXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAAKOQAA AAAAAAgAAAAEAwAAcdoCAAAAAAAIAAAAAQYAAEgAAABY AAAACAAAAAAEAABBxmEL3oAAABgAAAABAgAAAgAAAAAA AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAAIcR OQAAAAgAAAAABAAAQcZ3ntqAAAAkAAAAAQEAADc2Qjc3 OUNELUM5MTYtNDFCRC1CRkZDLUI3MUVFNkI4NzcyMhgA AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
					</data>
					<key>bundle-identifier</key>
					<string>org.zotero.zotero</string>
					<key>dock-extra</key>
					<false/>
					<key>file-data</key>
					<dict>
						<key>_CFURLString</key>
						<string>file:///Applications/Zotero.app/</string>
						<key>_CFURLStringType</key>
						<integer>15</integer>
					</dict>
					<key>file-label</key>
					<string>Zotero</string>
					<key>file-mod-date</key>
					<integer>3812069565</integer>
					<key>file-type</key>
					<integer>41</integer>
					<key>is-beta</key>
					<false/>
					<key>parent-mod-date</key>
					<integer>226030769919578</integer>
				</dict>
				<key>tile-type</key>
				<string>file-tile</string>
			</dict>
			<dict>
				<key>GUID</key>
				<integer>927681168</integer>
				<key>tile-data</key>
				<dict>
					<key>book</key>
					<data> Ym9va0QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAAZAEAAAQAAAADAwAAAAAAIAYA AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u cwkAAAABAQAATm90ZXMuYXBwAAAADAAAAAEGAAAQAAAA IAAAADQAAAAIAAAABAMAABcAAAD///8PCAAAAAQDAAAZ AAAA////DwgAAAAEAwAAbjQAAP///w8MAAAAAQYAAFwA AABsAAAAfAAAAAgAAAAABAAAQcZ3ntqAAAAYAAAAAQIA AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE AwAAAACHETkAAAAkAAAAAQEAADc2Qjc3OUNELUM5MTYt NDFCRC1CRkZDLUI3MUVFNkI4NzcyMhgAAAABAgAAgQAA AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABI AAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQ AACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAA ABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAA AAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABc AQAAAAAAABDQAAAEAAAAAAAAAA==
					</data>
					<key>bundle-identifier</key>
					<string>com.apple.Notes</string>
					<key>dock-extra</key>
					<false/>
					<key>file-data</key>
					<dict>
						<key>_CFURLString</key>
						<string>file:///System/Applications/Notes.app/</string>
						<key>_CFURLStringType</key>
						<integer>15</integer>
					</dict>
					<key>file-label</key>
					<string>Notes</string>
					<key>file-mod-date</key>
					<integer>3815028405</integer>
					<key>file-type</key>
					<integer>41</integer>
					<key>is-beta</key>
					<false/>
					<key>parent-mod-date</key>
					<integer>3815028405</integer>
				</dict>
				<key>tile-type</key>
				<string>file-tile</string>
			</dict>
			<dict>
				<key>GUID</key>
				<integer>927681166</integer>
				<key>tile-data</key>
				<dict>
					<key>book</key>
					<data> Ym9va0QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAAZAEAAAQAAAADAwAAAAAAIAYA AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u cwwAAAABAQAAQ29udGFjdHMuYXBwDAAAAAEGAAAQAAAA IAAAADQAAAAIAAAABAMAABcAAAD///8PCAAAAAQDAAAZ AAAA////DwgAAAAEAwAAvREAAP///w8MAAAAAQYAAFwA AABsAAAAfAAAAAgAAAAABAAAQcZ3ntqAAAAYAAAAAQIA AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE AwAAAACHETkAAAAkAAAAAQEAADc2Qjc3OUNELUM5MTYt NDFCRC1CRkZDLUI3MUVFNkI4NzcyMhgAAAABAgAAgQAA AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABI AAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQ AACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAA ABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAA AAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABc AQAAAAAAABDQAAAEAAAAAAAAAA==
					</data>
					<key>bundle-identifier</key>
					<string>com.apple.AddressBook</string>
					<key>dock-extra</key>
					<false/>
					<key>file-data</key>
					<dict>
						<key>_CFURLString</key>
						<string>file:///System/Applications/Contacts.app/</string>
						<key>_CFURLStringType</key>
						<integer>15</integer>
					</dict>
					<key>file-label</key>
					<string>Contacts</string>
					<key>file-mod-date</key>
					<integer>3815028405</integer>
					<key>file-type</key>
					<integer>41</integer>
					<key>is-beta</key>
					<false/>
					<key>parent-mod-date</key>
					<integer>3815028405</integer>
				</dict>
				<key>tile-type</key>
				<string>file-tile</string>
			</dict>
			<dict>
				<key>GUID</key>
				<integer>329673016</integer>
				<key>tile-data</key>
				<dict>
					<key>book</key>
					<data> Ym9vazgCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAAWAEAAAQAAAADAwAAAAAAIAwA AAABAQAAQXBwbGljYXRpb25zFgAAAAEBAABWaXN1YWwg U3R1ZGlvIENvZGUuYXBwAAAIAAAAAQYAABAAAAAkAAAA CAAAAAQDAAAKOQAAAAAAAAgAAAAEAwAAvvkjAAAAAAAI AAAAAQYAAFQAAABkAAAACAAAAAAEAABBxpyFBAAAABgA AAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAA AAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhE CAAAAAQDAAAAAIcROQAAAAgAAAAABAAAQcZ3ntqAAAAk AAAAAQEAADc2Qjc3OUNELUM5MTYtNDFCRC1CRkZDLUI3 MUVFNkI4NzcyMhgAAAABAgAAgQAAAAEAAADvEwAAAQAA AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA /v///wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAAB0 AAAAAAAAABAQAACUAAAAAAAAAEAQAACEAAAAAAAAAAIg AABEAQAAAAAAAAUgAAC0AAAAAAAAABAgAADEAAAAAAAA ABEgAAD4AAAAAAAAABIgAADYAAAAAAAAABMgAADoAAAA AAAAACAgAAAkAQAAAAAAADAgAABQAQAAAAAAABDQAAAE AAAAAAAAAA==
					</data>
					<key>bundle-identifier</key>
					<string>com.microsoft.VSCode</string>
					<key>dock-extra</key>
					<false/>
					<key>file-data</key>
					<dict>
						<key>_CFURLString</key>
						<string>file:///Applications/Visual%20Studio%20Code.app/</string>
						<key>_CFURLStringType</key>
						<integer>15</integer>
					</dict>
					<key>file-label</key>
					<string>Visual Studio Code</string>
					<key>file-mod-date</key>
					<integer>3819864840</integer>
					<key>file-type</key>
					<integer>41</integer>
					<key>is-beta</key>
					<false/>
					<key>parent-mod-date</key>
					<integer>50199102912376</integer>
				</dict>
				<key>tile-type</key>
				<string>file-tile</string>
			</dict>
			<dict>
				<key>GUID</key>
				<integer>927681185</integer>
				<key>tile-data</key>
				<dict>
					<key>book</key>
					<data> Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA AAABAQAAQXBwbGljYXRpb25zCgAAAAEBAABCZWVwZXIu YXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAAKOQAA AAAAAAgAAAAEAwAA9fwCAAAAAAAIAAAAAQYAAEgAAABY AAAACAAAAAAEAABBxmnNlAAAABgAAAABAgAAAgAAAAAA AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAAIcR OQAAAAgAAAAABAAAQcZ3ntqAAAAkAAAAAQEAADc2Qjc3 OUNELUM5MTYtNDFCRC1CRkZDLUI3MUVFNkI4NzcyMhgA AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
					</data>
					<key>bundle-identifier</key>
					<string>im.beeper</string>
					<key>dock-extra</key>
					<false/>
					<key>file-data</key>
					<dict>
						<key>_CFURLString</key>
						<string>file:///Applications/Beeper.app/</string>
						<key>_CFURLStringType</key>
						<integer>15</integer>
					</dict>
					<key>file-label</key>
					<string>Beeper</string>
					<key>file-mod-date</key>
					<integer>3813217320</integer>
					<key>file-type</key>
					<integer>41</integer>
					<key>is-beta</key>
					<false/>
					<key>parent-mod-date</key>
					<integer>189184243641682</integer>
				</dict>
				<key>tile-type</key>
				<string>file-tile</string>
			</dict>
			<dict>
				<key>GUID</key>
				<integer>2431595073</integer>
				<key>tile-data</key>
				<dict>
					<key>book</key>
					<data> Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA AAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABGaWdtYS5h cHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAAKOQAA AAAAAAgAAAAEAwAAjmwiAAAAAAAIAAAAAQYAAEgAAABY AAAACAAAAAAEAABBxnPkzAAAABgAAAABAgAAAgAAAAAA AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAAIcR OQAAAAgAAAAABAAAQcZ3ntqAAAAkAAAAAQEAADc2Qjc3 OUNELUM5MTYtNDFCRC1CRkZDLUI3MUVFNkI4NzcyMhgA AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
					</data>
					<key>bundle-identifier</key>
					<string>com.figma.Desktop</string>
					<key>dock-extra</key>
					<false/>
					<key>file-data</key>
					<dict>
						<key>_CFURLString</key>
						<string>file:///Applications/Figma.app/</string>
						<key>_CFURLStringType</key>
						<integer>15</integer>
					</dict>
					<key>file-label</key>
					<string>Figma</string>
					<key>file-mod-date</key>
					<integer>26645502170483</integer>
					<key>file-type</key>
					<integer>41</integer>
					<key>is-beta</key>
					<false/>
					<key>parent-mod-date</key>
					<integer>226030769919578</integer>
				</dict>
				<key>tile-type</key>
				<string>file-tile</string>
			</dict>
			<dict>
				<key>GUID</key>
				<integer>927681180</integer>
				<key>tile-data</key>
				<dict>
					<key>book</key>
					<data>
				Ym9va3ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAkAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwkAAAABAQAAVXRpbGl0aWVzAAAADAAAAAEBAABUZXJt
				aW5hbC5hcHAQAAAAAQYAABAAAAAgAAAANAAAAEgAAAAI
				AAAABAMAABcAAAD///8PCAAAAAQDAAAZAAAA////DwgA
				AAAEAwAAW2sAAP///w8IAAAABAMAACJ/AAD///8PEAAA
				AAEGAAB0AAAAhAAAAJQAAACkAAAACAAAAAAEAABBxnee
				2oAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAA
				AAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50
				b3NoIEhECAAAAAQDAAAAAIcROQAAACQAAAABAQAANzZC
				Nzc5Q0QtQzkxNi00MUJELUJGRkMtQjcxRUU2Qjg3NzIy
				GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAAB
				AAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+////AQAAAAAA
				AAANAAAABBAAAFwAAAAAAAAABRAAALQAAAAAAAAAEBAA
				ANwAAAAAAAAAQBAAAMwAAAAAAAAAAiAAAHwBAAAAAAAA
				BSAAAPwAAAAAAAAAECAAAAwBAAAAAAAAESAAADABAAAA
				AAAAEiAAACABAAAAAAAAEyAAAMwAAAAAAAAAICAAAFwB
				AAAAAAAAMCAAAIgBAAAAAAAAENAAAAQAAAAAAAAA
					</data>
					<key>bundle-identifier</key>
					<string>com.apple.Terminal</string>
					<key>dock-extra</key>
					<false/>
					<key>file-data</key>
					<dict>
						<key>_CFURLString</key>
						<string>file:///System/Applications/Utilities/Terminal.app/</string>
						<key>_CFURLStringType</key>
						<integer>15</integer>
					</dict>
					<key>file-label</key>
					<string>Terminal</string>
					<key>file-mod-date</key>
					<integer>3815028405</integer>
					<key>file-type</key>
					<integer>1</integer>
					<key>is-beta</key>
					<false/>
					<key>parent-mod-date</key>
					<integer>3815028405</integer>
				</dict>
				<key>tile-type</key>
				<string>file-tile</string>
			</dict>
			<dict>
				<key>GUID</key>
				<integer>329673030</integer>
				<key>tile-data</key>
				<dict>
					<key>book</key>
					<data> Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA AAABAQAAQXBwbGljYXRpb25zCwAAAAEBAAB6b29tLnVz LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAAKOQAA AAAAAAgAAAAEAwAAlhgkAAAAAAAIAAAAAQYAAEgAAABY AAAACAAAAAAEAABBxnt+noAAABgAAAABAgAAAgAAAAAA AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAAIcR OQAAAAgAAAAABAAAQcZ3ntqAAAAkAAAAAQEAADc2Qjc3 OUNELUM5MTYtNDFCRC1CRkZDLUI3MUVFNkI4NzcyMhgA AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
					</data>
					<key>bundle-identifier</key>
					<string>us.zoom.xos</string>
					<key>dock-extra</key>
					<false/>
					<key>file-data</key>
					<dict>
						<key>_CFURLString</key>
						<string>file:///Applications/zoom.us.app/</string>
						<key>_CFURLStringType</key>
						<integer>15</integer>
					</dict>
					<key>file-label</key>
					<string>zoom.us</string>
					<key>file-mod-date</key>
					<integer>5660292052859</integer>
					<key>file-type</key>
					<integer>41</integer>
					<key>is-beta</key>
					<false/>
					<key>parent-mod-date</key>
					<integer>50199102912376</integer>
				</dict>
				<key>tile-type</key>
				<string>file-tile</string>
			</dict>
			<dict>
				<key>GUID</key>
				<integer>927681174</integer>
				<key>tile-data</key>
				<dict>
					<key>book</key>
					<data>
				Ym9va0wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAbAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxMAAAABAQAAU3lzdGVtIFNldHRpbmdzLmFwcAAMAAAA
				AQYAABAAAAAgAAAANAAAAAgAAAAEAwAAFwAAAP///w8I
				AAAABAMAABkAAAD///8PCAAAAAQDAAB6WwAA////DwwA
				AAABBgAAZAAAAHQAAACEAAAACAAAAAAEAABBxnee2oAA
				ABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAA
				CAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3No
				IEhECAAAAAQDAAAAAIcROQAAACQAAAABAQAANzZCNzc5
				Q0QtQzkxNi00MUJELUJGRkMtQjcxRUU2Qjg3NzIyGAAA
				AAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAA
				AQEAAC8AAAAAAAAAAQUAAKgAAAD+////AQAAAAAAAAAN
				AAAABBAAAFAAAAAAAAAABRAAAJQAAAAAAAAAEBAAALgA
				AAAAAAAAQBAAAKgAAAAAAAAAAiAAAFgBAAAAAAAABSAA
				ANgAAAAAAAAAECAAAOgAAAAAAAAAESAAAAwBAAAAAAAA
				EiAAAPwAAAAAAAAAEyAAAKgAAAAAAAAAICAAADgBAAAA
				AAAAMCAAAGQBAAAAAAAAENAAAAQAAAAAAAAA
					</data>
					<key>bundle-identifier</key>
					<string>com.apple.systempreferences</string>
					<key>dock-extra</key>
					<true/>
					<key>file-data</key>
					<dict>
						<key>_CFURLString</key>
						<string>file:///System/Applications/System%20Settings.app/</string>
						<key>_CFURLStringType</key>
						<integer>15</integer>
					</dict>
					<key>file-label</key>
					<string>System Settings</string>
					<key>file-mod-date</key>
					<integer>3815028405</integer>
					<key>file-type</key>
					<integer>41</integer>
					<key>is-beta</key>
					<false/>
					<key>parent-mod-date</key>
					<integer>3815028405</integer>
				</dict>
				<key>tile-type</key>
				<string>file-tile</string>
			</dict>
		</array>
		<key>persistent-others</key>
		<array>
			<dict>
				<key>GUID</key>
				<integer>927681175</integer>
				<key>tile-data</key>
				<dict>
					<key>arrangement</key>
					<integer>2</integer>
					<key>book</key>
					<data> Ym9va4QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAAgAEAAAQAAAADAwAAAAAAIAUA AAABAQAAVXNlcnMAAAALAAAAAQEAAGNoaWFraW1pdXJh AAkAAAABAQAARG93bmxvYWRzAAAADAAAAAEGAAAQAAAA IAAAADQAAAAIAAAABAMAAAY5AAAAAAAACAAAAAQDAABc XQAAAAAAAAgAAAAEAwAAkF0AAAAAAAAMAAAAAQYAAFwA AABsAAAAfAAAAAgAAAAABAAAQcZ3ntqAAAAYAAAAAQIA AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAA AQAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6 Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAA hxE5AAAAJAAAAAEBAAA3NkI3NzlDRC1DOTE2LTQxQkQt QkZGQy1CNzFFRTZCODc3MjIYAAAAAQIAAIEAAAABAAAA 7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAAB BQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAASAAAAAAA AAAFEAAAjAAAAAAAAAAQEAAAsAAAAAAAAABAEAAAoAAA AAAAAAACIAAAbAEAAAAAAAAFIAAA7AAAAAAAAAAQIAAA /AAAAAAAAAARIAAAIAEAAAAAAAASIAAAEAEAAAAAAAAT IAAAoAAAAAAAAAAgIAAATAEAAAAAAAAwIAAAeAEAAAAA AAABwAAA0AAAAAAAAAARwAAAIAAAAAAAAAASwAAA4AAA AAAAAAAQ0AAABAAAAAAAAAA=
					</data>
					<key>displayas</key>
					<integer>0</integer>
					<key>file-data</key>
					<dict>
						<key>_CFURLString</key>
						<string>file:///Users/chiakimiura/Downloads/</string>
						<key>_CFURLStringType</key>
						<integer>15</integer>
					</dict>
					<key>file-label</key>
					<string>Downloads</string>
					<key>file-mod-date</key>
					<integer>255030386682882</integer>
					<key>file-type</key>
					<integer>2</integer>
					<key>is-beta</key>
					<false/>
					<key>parent-mod-date</key>
					<integer>243464039754765</integer>
					<key>preferreditemsize</key>
					<integer>-1</integer>
					<key>showas</key>
					<integer>1</integer>
				</dict>
				<key>tile-type</key>
				<string>directory-tile</string>
			</dict>
		</array>
		<key>recent-apps</key>
		<array>
			<dict>
				<key>GUID</key>
				<integer>311456236</integer>
				<key>tile-data</key>
				<dict>
					<key>book</key>
					<data> Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA AAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABEaXNjb3Jk LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAAKOQAA AAAAAAgAAAAEAwAAJAUrAAAAAAAIAAAAAQYAAEgAAABY AAAACAAAAAAEAABBxp+bmwAAABgAAAABAgAAAgAAAAAA AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAAIcR OQAAAAgAAAAABAAAQcZ3ntqAAAAkAAAAAQEAADc2Qjc3 OUNELUM5MTYtNDFCRC1CRkZDLUI3MUVFNkI4NzcyMhgA AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
					</data>
					<key>bundle-identifier</key>
					<string>com.hnc.Discord</string>
					<key>dock-extra</key>
					<false/>
					<key>file-data</key>
					<dict>
						<key>_CFURLString</key>
						<string>file:///Applications/Discord.app/</string>
						<key>_CFURLStringType</key>
						<integer>15</integer>
					</dict>
					<key>file-label</key>
					<string>Discord</string>
					<key>file-mod-date</key>
					<integer>3820269622</integer>
					<key>file-type</key>
					<integer>1</integer>
					<key>is-beta</key>
					<false/>
					<key>parent-mod-date</key>
					<integer>40385103006996</integer>
				</dict>
				<key>tile-type</key>
				<string>file-tile</string>
			</dict>
			<dict>
				<key>GUID</key>
				<integer>311456237</integer>
				<key>tile-data</key>
				<dict>
					<key>book</key>
					<data> Ym9va0QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA AAAAAAAAAAAAAAAAAAAAZAEAAAQAAAADAwAAAAAAIAYA AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u cwsAAAABAQAAUHJldmlldy5hcHAADAAAAAEGAAAQAAAA IAAAADQAAAAIAAAABAMAABcAAAD///8PCAAAAAQDAAAZ AAAA////DwgAAAAEAwAAMUIAAP///w8MAAAAAQYAAFwA AABsAAAAfAAAAAgAAAAABAAAQcZ3ntqAAAAYAAAAAQIA AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE AwAAAACHETkAAAAkAAAAAQEAADc2Qjc3OUNELUM5MTYt NDFCRC1CRkZDLUI3MUVFNkI4NzcyMhgAAAABAgAAgQAA AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABI AAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQ AACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAA ABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAA AAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABc AQAAAAAAABDQAAAEAAAAAAAAAA==
					</data>
					<key>bundle-identifier</key>
					<string>com.apple.Preview</string>
					<key>dock-extra</key>
					<false/>
					<key>file-data</key>
					<dict>
						<key>_CFURLString</key>
						<string>file:///System/Applications/Preview.app/</string>
						<key>_CFURLStringType</key>
						<integer>15</integer>
					</dict>
					<key>file-label</key>
					<string>Preview</string>
					<key>file-mod-date</key>
					<integer>3815028405</integer>
					<key>file-type</key>
					<integer>1</integer>
					<key>is-beta</key>
					<false/>
					<key>parent-mod-date</key>
					<integer>3815028405</integer>
				</dict>
				<key>tile-type</key>
				<string>file-tile</string>
			</dict>
		</array>
		<key>region</key>
		<string>JP</string>
		<key>tilesize</key>
		<real>66</real>
		<key>trash-full</key>
		<true/>
		<key>version</key>
		<integer>1</integer>
		<key>wvous-br-corner</key>
		<integer>14</integer>
	</dict>
</plist>
